.loginForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 450px;
  margin-bottom: 20px;
}

.email,
.password {
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
}

.Field {
  position: relative;
}

.Field input {
  width: 100%;
  padding: 10px;
}

.fieldIcon {
  position: absolute;
  right: 10px;
  top: 15px;
  color: black;
  z-index: 10;
}

.errors {
  position: absolute;
  color: rgb(255, 0, 0);
}

.link {
  color: rgb(255, 0, 0);

  &:hover {
    color: #FBD13E;
    transition: color .3s;
  }
}